body {
	margin: 0px;
	background-color: black;
	color: white;
}

/*NAVBAR*/

.navbar {
	/*background-color: white;*/
	display: flex;
	color: white;
	height: 130px;
	justify-content: space-around;
	width: 100vw;
}

.logo {
	font-family: 'Nabla', cursive;
	padding-right: 90px;
	padding-left: 80px;
	font-size: 40px;
	font-weight: bold;
	align-self: center;
	transition: font-size 0.6s ease-in-out 0s;
}

.logo:hover {
	cursor: default;
	font-size: 45px;
}

.empty {
	margin-left: 400px;
	margin-right: 400px;
}

.resume {
	font-size: 40px;
	align-self: center;
	font-family: 'Oswald', sans-serif;
}

.resume:hover {
	cursor: default;
}

.gh {
	align-self: center;
}

.lin {
	padding-right: 130px;
	align-self: center;
}

.bars {
	display: flex;
	height: 90px;
	color: white;
}

/*@media screen and (max-width: 1300px) {
	.navbar {
		/*background-color: white;*/
		/*display: flex;
		color: white;
		height: 130px;
		justify-content: normal;
	}*/

	/*.dropdown

	.logo {
		font-family: 'Nabla', cursive;
		/*padding-right: 90px;
		padding-left: 80px;*/
		/*font-size: 40px;
		font-weight: bold;
		align-self: center;*/
		/*transition: font-size 0.6s ease-in-out 0s;*/
	}
}

/*CONTAINER 1 - I create playful experiences*/

.container1 {
	display: flex;
	align-self: center;
}

.content1 {
	align-self: center;
	font-size: 120px;
	padding-left: 180px;
	padding-right: 200px;
	font-family: 'Merriweather', serif;
}

.content1:hover {
	cursor: default;
}

.playful {
	color: #f84459;
	animation: colorChange 5s linear infinite;
}

@keyframes colorChange {
	0% {
		background-color: #45FFCA;
	}
	25% {
		background-color: #FEFFAC;
	}
	50% {
		background-color: #FFB6D9;
	}
	75% {
		background-color: #D67BFF;
	}
	100% {
		background-color: #45FFCA;
	}
}

.image-2 {
	display: flex;
}

.image-2-pic {
	padding: 100px;
	padding-left: 200px;
	align-self: center;
}

/*CONTAINER 2 - Siddesh Todi/Student*/

.container2 {
	display: flex;
	font-size: 40px;
	padding-left: 190px;
}

/*Project with down sign icon*/

.container3 {
	/*display: flex;*/
	/*justify-content: center;*/
}

.proj {
	margin-left: 925px;
	font-size: 35px;
}

.dwn {
	margin-left: 955px;
}
